<div class="jumbotron">
  <h1>Standard Magic API</h1>
  <p>An API to return JSON for all the cards currently legal in Standard!</p>
  Jump to: <a href="#standard">Sets in Standard</a> / <a href="#endpoints">API Endpoints</a>
</div>

<a name="standard"></a>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2 class="panel-title"><strong>Sets in Standard:</strong></h2>
  </div>
  <ul class="list-group">
    <% @mtg_sets.each do |mtg_set| %>
      <li class="list-group-item"><%= mtg_set.name %> <strong>(<%= mtg_set.code %>)</strong></li>
    <% end %>
  </ul>
</div>

<a name="endpoints"></a>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2 class="panel-title"><strong>API Endpoints:</strong></h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div>
        <h4><code>/sets/standard</code></h4>
        Returns a JSON array of all sets in standard</kbd>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4><code>/cards/id/:multiverse_id</code></h4>
        Returns card data given a <kbd>multiverse id</kbd><br>
        Ex. <code>/cards/id/378456</code>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4><code>/cards/name/:card_name</code></h4>
        Returns card data given a <kbd>card name</kbd><br>
        Ex. <code>/cards/name/spiteful%20returned</code>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4><code>/cards/setcode/:set_code</code></h4>
        Returns a JSON array of cards given a <kbd>set code</kbd><br>
        Ex. <code>/cards/setcode/THS</code>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4><code>/cards/block/:block_name</code></h4>
        Returns a JSON array of cards given a <kbd>block name</kbd><br>
        Ex. <code>/cards/block/Theros</code>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4><code>/sets/:block</code></h4>
        Returns a JSON array of all sets in a given <kbd>block</kbd><br>
        Ex. <code>/sets/Theros</code>
      </div>
    </li>
  </ul>
</div>